<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="astra.file.launcher">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Terran/gen/TerranSCV.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TerranSCV"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Terran"/>
</launchConfiguration>
